:root{
    --branco:white;
    --cor-de-fundo:#000000;

}
*{
    font-weight: 400;
}
body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
}
.conteudoperfil {
    display: flex;
}

.nome {
    font-size: 36px;
    font-weight: 200px;
}

.biografia {

}